@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-flex justify-content-between" style="align-items: center;">
        <div class="text-left">
            <h2>Marvel Comics</h2>
            <p>Control your reading list</p>
        </div>
        <div class="text-center d-none d-md-block">
            <img src="~/img/superhero.svg" />
        </div>
    </div>
</div>